@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif,'Noto Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* ����� border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FBF2F2;
}

.header a {
  text-decoration: none;
  color: #FBF2F2;
  font-size: 20px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li {
  margin: 40px 44px 40px 0;
}

.header #bar {
  opacity: 0;
  position: absolute;
}

.header #bar:checked ~ ul {
  left: 0;
}

.header label, .header img {
  display: none;
}

@media screen and (max-width: 768px) {
  .header label, .header img, .header h1, .header label {
    display: block;
    z-index: 2;
  }
  .header ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 49px;
    left: -1000px;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color: #AA0601;
    width: 100%;
    text-align: center;
  }
  .header li {
    width: 100%;
    border-top: 1px solid #FBF2F2;
  }
  .header .header-logo a {
    margin: 10px 0;
  }
}

.header .header-logo {
  margin-left: 44px;
}

.header .header-logo a {
  display: block;
  background-image: url(/photo/logo-new_工作區域1.png);
  width: 80px;
  height: 49px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
}

footer {
  background-color: #AA0601;
  color: #FBF2F2;
}

footer .container {
  background-color: #AA0601;
  max-width: 1110px;
  margin: 0 auto;
}

footer .container a {
  text-decoration: none;
  color: #FBF2F2;
}

footer .container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

footer .container li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container li .step-link li {
  margin-right: 20px;
}

footer .container li .step-social li {
  margin-left: 20px;
}

footer .container .line {
  width: 100%;
  border-top: 1px solid #FBF2F2;
}

footer .container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 12px;
  font-size: 30px;
}

footer .container span img {
  margin-right: 10px;
}

footer .container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .copyright img {
  width: 80px;
  height: 49px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .container .copyright p {
  padding-left: 30px;
}

.opt_container {
  max-width: 1920px;
  margin: 0 auto;
}

.glasses_menu {
  font-weight: 500;
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glasses_menu a {
  text-decoration: none;
  color: #000;
}

.glasses_menu .optical, .glasses_menu .sunclasses, .glasses_menu .functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 42px;
  width: 462px;
  border: 1px solid #DCDCDC;
}

.glasses_menu .optical:hover, .glasses_menu .sunclasses:hover, .glasses_menu .functional:hover {
  border-bottom: 16px solid #AA0601;
}

.glasses_menu .optical, .glasses_menu .sunclasses {
  border-right: none;
}

.glasses_menu .optical img {
  height: 38px;
  margin-right: 8px;
}

.glasses_menu .sunclasses img {
  height: 48px;
  margin-right: 8px;
}

.glasses_menu .functional img {
  height: 48px;
  margin-right: 8px;
}

.opt_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 309px;
}

.opt_banner li {
  width: 945px;
  height: 309px;
}

.opt_banner .opt_photo1 {
  background-image: url("/photo/sincerely-media-FY6-bWUun9Q-unsplash.jpg");
  background-size: cover;
  background-position: 50% 58%;
  margin-right: 30px;
}

.opt_banner .opt_photo2 {
  background-image: url("/photo/flemming-fuchs-zisRjTikZWU-unsplash.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

.opt_product_content {
  width: 1110px;
  margin: 0 auto;
}

.opt_eng_title {
  text-align: center;
  font-size: 42px;
  margin-top: 88px;
  margin-bottom: 20px;
}

.opt_chinese_title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.opt_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opt_product {
  width: 255px;
  margin-bottom: 104px;
}

.opt_product a {
  text-decoration: none;
  color: #000;
}

.opt_product_photo {
  height: 164px;
  background-size: cover;
  margin-bottom: 2px;
}

.photo_001 {
  background-image: url("/photo/sincerely-media-d05w6_7FaPM-unsplash.jpg");
}

.photo_002 {
  background-image: url("/photo/2.jpg");
}

.photo_003 {
  background-image: url("/photo/3.jpg");
}

.photo_004 {
  background-image: url("/photo/4.jpg");
}

.photo_005 {
  background-image: url("/photo/5.jpg");
}

.photo_006 {
  background-image: url("/photo/6.jpg");
}

.product_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

.product_number:hover {
  color: #84828E;
}

.product_number .price {
  font-weight: 500;
  color: #AA0601;
  font-size: 24px;
}

.sample_color_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sample_block1 {
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px;
  margin-top: 12px;
  margin-right: 8px;
}

.sample_block2 {
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px;
  margin-top: 12px;
}

/* 分頁 */
.page_bar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
}

.page_bar li {
  border: 1px solid #555555;
  margin: -1px 0 0 -1px;
}

.page_bar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #000;
}

.page_bar li a:hover {
  color: #FFF;
}

.page_bar li:hover {
  cursor: pointer;
  background-color: #000;
}

.back_page, .next_page {
  width: 81px;
  height: 48px;
}

.next_page {
  background-color: #F2F2F2;
}

.pages {
  width: 41px;
  height: 48px;
  font-size: 18px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.blog-header {
  background-color: #650300;
}

.blog-header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-header .container ul li {
  margin: 10px 0;
  padding-right: 24px;
}

.blog-header .container ul li a {
  color: #FBF2F2;
}

.container .main li {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main li img {
  margin-right: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .main .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .main .text .title h2 {
  color: #650300;
  font-size: 32px;
}

.container .main .text .title .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.container .main .text .title .date span:first-child {
  font-size: 18px;
  font-weight: bold;
}

.container .main .text .ph {
  line-height: 30px;
}

.container .main .text a {
  display: block;
  font-size: 30px;
  color: #650300;
  font-weight: bold;
  text-align: right;
}

.container .pagelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

.container .pagelist li a {
  margin: 0px -1px -1px 0px;
  border: 1px solid #555555;
  padding: 10px 15px;
  color: #555555;
  font-size: 20px;
}

.container .pagelist li a:hover {
  background-color: #000;
  color: #ffff;
}

.banner .FAQ-title {
  font-size: 48px;
  margin-top: -68px;
}

.banner .FAQ-title img {
  margin-bottom: -10px;
}

.container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 40px;
}

.container h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0;
}

.container .FAQ-list {
  display: block;
  margin-bottom: 642px;
}

.container .FAQ-list p {
  margin: 0 95px;
  margin-bottom: 40px;
}
/*# sourceMappingURL=all.css.map */