.banner{
  .FAQ-title{
    font-size: 48px;
    margin-top: -68px;
    img{
      margin-bottom: -10px;
    }
  }

}
.container{
  h2{
    font-size: 28px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  h3{
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
  }
  .FAQ-list{
    display: block;
    margin-bottom: 642px;
    p{
      margin:0 95px;
      margin-bottom:40px;
    }
  }
}